@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    /* Font */
    --font-size-regular: 16px;
    --font-size-lg: 40px;
    --font: 'Inter', sans-serif;
    font-size: var(--font-size-regular);
    /* Font weight */
    --font-weight-thin: 100;
    --font-weight-extralight: 200;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;
    --font-weight-black: 900;

    /* Colors */
    --color-black: #000000;
    --color-dark: #010101;
    --color-dark-lighter: #212121;
    --color-dark-lightest: #282828;
    --color-grey-light: #f5f5f5;
    --color-grey-lighter: #f3f3f3;
    --color-grey-md: #a1a1aa;
    --color-grey: #fafafa;
    --color-grey-dark: #dddddd;
    --color-grey-darker: #bfbfbf;
    --color-white: #ffffff;
    --text-color: var(--color-dark);
    --bg-color: var(--color-grey-lighter);
    --border-color: var(--color-grey-dark);
    --header-bg: var(--color-white);
    --header-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
    --secondary-text-color: var(--color-grey-md);
    --container-bg: var(--color-white);
    --container-shadow: 0px 10px 15px -3px rgba(182, 182, 182, 0.1),
        0px 4px 6px -2px rgba(182, 182, 182, 0.05);
    --text-container-bg: rgba(255, 255, 255, 0.7);
    --text-container-color: #18181b;
    --dropdown-text-border: 1px solid transparent;
    --dropdown-text-color: #52525b;
    --dropdown-text-border-divider: 1px solid var(--color-grey-light);
    --section-border: 1px solid #e4e4e7;
    --divider-bg: lightgrey;
    --links-hover-color: var(--color-black);

    /* Utilities */
    --container-width: 50%;
    --logo-size: 70px;
    --search-input-width: 80%;
    --search-btn-width: 20%;
    --form-element-padding: 16px 16px 16px 24px;
    --border: 1px solid var(--border-color);
    --theme-toggle-width: 40px;
    --theme-toggle-height: 20px;

    /* Transitions */
    --transition-regular: all 0.15s linear;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    transition: var(--transition-regular);
}

body {
    font-family: var(--font);
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: rgb(39, 105, 227);
}

h4 {
    text-decoration: none;
    font-weight: 400;
    font-size: 14pt;
    color: var(--secondary-text-color);
}

.header1 {
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    padding: 16px 48px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    background: var(--header-bg);
    box-shadow: var(--header-shadow);
    z-index: 999;
    margin-bottom: 80px;
}

.header1 .header-ghost-div {
    width: var(--theme-toggle-width);
    height: var(--theme-toggle-height);
}

.container1 {
    display: flex;
    flex-direction: column;
    width: 343px;
    align-items: flex-start;
    border-radius: 16px 16px 16px 16px;
    border-style: calc(10px);
    border: 2px solid transparent;
    background: var(--container-bg);
    box-shadow: var(--container-shadow);
    margin-top: 136px;
    margin-bottom: 56px;
}

.container2 {
    display: flex;
    flex-direction: column;
    width: 343px;
    align-items: flex-start;
    border-radius: 16px 16px 16px 16px;
    border-style: calc(10px);
    border: 2px solid transparent;
    background: var(--container-bg);
    box-shadow: var(--container-shadow);
    margin-top: 80px;
    margin-bottom: 80px;
}

.container2:hover {
    border: 2px solid rgb(31, 124, 238);
}

.section,
.container1,
.container2 {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.section.show,
.container1.show,
.container2.show {
    opacity: 1;
}

.image-container {
    overflow: hidden;
}

.image-container .image-link {
    position: relative;
    display: block;
}

.image-container .image {
    visibility: visible;
    opacity: 1;
}

.image-container:hover .image {
    opacity: 0.2;
    filter: blur(1rem);
    overflow: hidden;
    transition: var(--transition-regular);
}

.image-container .image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
    transition: var(--transition-regular);
}

.image-container:hover .image-text {
    visibility: visible;
    opacity: 1;
}

.image-text:hover {
    text-decoration: underline;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 13px 13px 0 0;
}

.divider {
    width: 309px;
    height: 1px;
    background-color: var(--divider-bg);
}

.text-container-main {
    display: flex;
    position: relative;
    padding: 24px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    border-radius: 0 0 13px 13px;
    background-color: var(--container-bg);
    align-self: stretch;
}

.text-container {
    background-color: var(--text-container-bg);
    color: var(--text-container-color);
}

.text-container2 {
    background-color: var(--text-container-bg);
    color: var(--secondary-text-color);
}

.text-container-dropdown {
    width: 100%;
}

.text-container-dropdown .dropdown-text {
    font-size: 16px;
    font-weight: 400;
    color: var(--dropdown-text-color);
    padding: 0px 24px;
    max-height: 0px;
    overflow: hidden;
    border-top: var(--dropdown-text-border);
    transition: all 0.2s ease-in;
    transition: all 0.6s ease-out;
}

.text-container-dropdown .dropdown-text.show {
    padding: 24px 24px;
    max-height: 100vh;
    border-top: var(--dropdown-text-border-divider);
}

.text-container-dropdown .arrow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 24px;
    cursor: pointer;
    border-top: var(--dropdown-text-border-divider);
}

.text-container-dropdown .arrow-container .material-icons {
    transition: all 0.5s ease-in-out;
}

.text-container-dropdown .arrow-container .material-icons.active {
    transform: rotate(180deg);
}

.section {
    display: flex;
    padding: 24px 0px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 100%;
    align-self: stretch;
    border-bottom: var(--section-border);
    margin-bottom: 80px;
}

.links a {
    display: flex;
    color: inherit; /* Assuming the parent element has a default text color */
    text-decoration: none;
    width: 343px;
    padding: 0px 16px 32px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.links a:hover {
    color: var(--links-hover-color);
    text-decoration: underline;
}

.dark-mode-toggle {
    display: flex;
    position: relative;
    width: var(--theme-toggle-width);
    height: var(--theme-toggle-height);
    background-color: #ccc;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dark-mode-toggle::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

body.dark-mode {
    --text-color: var(--color-white);
    --bg-color: var(--color-dark-lighter);
    --header-bg: var(--color-dark-lightest);
    --header-shadow: 0px 1px 1px 0px rgba(18, 18, 18, 0.3);
    --secondary-text-color: var(--color-grey-md);
    --container-bg: var(--color-dark-lightest);
    --container-shadow: 0px 3px 35px 0px rgba(18, 18, 18, 0.8);
    --text-container-bg: var(--color-dark-lightest);
    --text-container-color: var(--color-white);
    --dropdown-text-border: 1px solid rgba(244, 244, 245, 0.1);
    --dropdown-text-color: var(--color-white);
    --dropdown-text-border-divider: 1px solid #404040;
    --divider-bg: rgba(244, 244, 245, 0.1);
    --links-hover-color: rgb(31, 124, 238);
    --section-border: 1px solid rgba(255, 255, 255, 0.102);
}

body.dark-mode .dark-mode-toggle {
    background-color: var(--links-hover-color);
}

body.dark-mode .dark-mode-toggle::before {
    transform: translateX(20px);
}
